* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: agdasima, sans-serif;
    color: white;

}

/* header and background image */

#scenic-header {
    width: 100%;
    height: 300px;
    border: 0px;
    margin-bottom: 0;
}

/* navigation bar and logo */

#logo {
    color: white;
    font-size: 55px;
    line-height: 60px;
    padding-left: 20px;
}

nav {
    background-color: orange;
    width: 100%;
    height: 70px;
    padding-top: 0;
    border: 4px solid white;
    border-radius: 10px;
}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    padding-right: 20px;

}

a:hover {
    border-bottom: none;
}

/* about us section  and picture floating the main screen*/
#man {
    width: 20%;
    height: auto;
    left: 10%;
    border-radius: 50%;
    border: 8px ridge orange;
    position: top;
}

#story {
    display: flex;
    padding-bottom: 200px;

}

.mission {
    padding-top: 200px;

}


.about-us {
    position: relative;
    padding: 125px;


}

.about-us h1 {
    text-align: center;
    font-size: 60px;
    color: orange;

}

.words {
    padding: 100px;
}

/*palces to hike and there hights*/
.heading-hikes {
    color: orange;
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-bottom: 50px;

}

#hikes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-bottom: 300px;

}

#hikes h2 {
    color: orange;
}

td,
th {
    border: 1px solid orange;
    /* Add a border to each cell */
    padding: 8px;
}

th {
    background-color: orange;
    /* Set background color for table header cells */
    font-weight: bold;
}