* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: agdasima, sans-serif;
    color: white;

}

/* header and background image */

#scenic-header {
    width: 100%;
    height: 300px;
    border: 0px;
    margin-bottom: 0;
}
